@if (standalone) {
<div class="player-page">
  <div class="pp-card">
    <ng-container [ngTemplateOutlet]="form" />
    <button type="submit"
            class="btn btn-primary pp-continue"
            [disabled]="!player.isValid()"
            data-tooltip="Continue to room generator">
      Continue
    </button>
  </div>
</div>
} @else {
  <div class="pp-embedded">
    <ng-container [ngTemplateOutlet]="form" />
  </div>
}

<ng-template #form>
  <p class="pp-label">Player Setup</p>

  <div class="pp-icon-row">
    <img class="pp-icon-preview"
         [src]="player.selectedIcon()"
         alt="Selected player icon">
    <button type="button"
            class="pp-dice-btn"
            (click)="player.randomizeIcon()"
            aria-label="Randomize icon"
            data-tooltip="Randomize icon">
      <img src="app-icons/promptle-dice.svg" class="pp-dice-img" alt="">
    </button>
  </div>

  <input id="playerName"
         class="pp-input"
         type="text"
         placeholder="Enter your name"
         [value]="player.username()"
         (input)="player.setUsername($any($event.target).value)">
</ng-template>
